.banner{
    height:438px;
    background:url('../../../assets/banner-bg.png') no-repeat;
    background-size: cover;
  }
  .banner.small {
    height: 300px;
}
  .banner .text {
    max-width: 827px;
    margin: 0 auto;
    padding: 206px 0 0;
    text-align: center;
  }
  .banner.small .text {
    padding: 160px 0 0;
}
  .banner h1 {
    margin: 0;
    font-size: 60px;
    line-height: 64px;
  }
  .banner.small h1 {
    font-size: 30px;
}
  .banner h1 span{position: relative;}
  .banner h1 span:after{
    width:251px;
    height:20px;
    position: absolute;
    content:'';
    left:50%;
    bottom:0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    background:url('../../../assets/lines.png') no-repeat 50% 100%;
    background-size: 100% 100%;
  }