.pros .header {
    text-align: center;
}
.pros .header h2 {
    margin: 0 0 35px;
    font-size: 30px;
}
.pros .cols{
    gap: 10px;
}
.pros ul li {
    width: 32.3%;
    background: #fff;
    padding: 0 0;
}
.pros ul .holder {
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    box-shadow: 0 0 19px -13px #696767;
}
.pros ul .holder>img {
    border-radius: 16px;
    width: 100%;
    height: 369px;
}
.pros ul .holder .txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0 0;
}
.pros ul .holder .title {
    font-size: 18px;
    color:#222;
    margin: 0 0 10px;
}
.pros ul .holder .price {
    border: 1px solid #02174C;
    border-radius: 25px;
    width: 200px;
    margin: 0 auto 20px;
    padding: 10px 9px;
    font-weight: 600;
    background: rgba(2, 23, 76, 0.06);
    color: #02174C;
}
.ratings {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 20px;
}
.ratings em {
    font-style: normal;
}
.pros .tags {
    gap: 10px;
    margin: 0 0 20px;
}
.pros .tags li {
    width: auto;
    background: rgba(2, 23, 76, 0.04);
    border-radius: 30px;
    flex: 1;
    padding: 11px 3px;
    font-weight: 600;
    font-size: 14px;
    color:#222;
}
.btn-view {
    background: #02174C;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px;
}
.loader img {
    display: block;
    margin: 0 auto;
}
.loader {
    text-align: center;
    padding: 50px 0;
}

@media(max-width:1200px){
    .pros ul .holder>img {
        height: 30vw;
    }
}
@media (max-width:1000px){
    .pros ul .holder>img {
        height: 39vw;
    }
}

@media (max-width:767px){
    .pros ul li {
        width: 48%;
     }
}
@media(max-width:480px){
    .pros ul li {
        width: 100%;
    }
    .pros ul .holder>img {
        height: 80vw;
    }
    .pros .header h2 {
        font-size: 23px;
    }
    .banner.small h1 {
        font-size: 24px;
        line-height: 30px;
    }
}