.auth-form .field-row input {
    width: 100%;
    border: 1px solid #d6d7da;
    border-radius: 4px;
    height: 47px;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px;
}

.auth-form .field-row {
    margin: 0 0 20px;
}
.forgot-link {
    color: #0AF886;
    background: none;
    border: none;
    font-size: 16px;
}
.auth-form input[type="submit"] {
    background: #02174C;
    color: #fff;
    font-size: 16px;
    height: 51px;
}
.auth-form .or {
    text-align: center;
    position: relative;
    margin: 0 0 30px;
}

.auth-form .or span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.auth-form .or:after {
    width: 100%;
    height: 1px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 50%;
    background: rgba(2, 23, 76, 0.2);
    margin-top: -1px;
}
.google-login {
    width: 100%;
    border: 1px solid #d6d7da;
    border-radius: 4px;
    height: 47px;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    margin: 0 0 30px;
}
.misc-text {
    width: 100%;
    border-radius: 4px;
    height: 47px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.misc-text button {
    background: none;
    border: none;
    color: #02174C;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
}