#footer {
    padding: 72px 0 0;
    color:#6F7487;
    background:url("../../../assets/footer-bg.png") no-repeat;
    background-size: cover;
}
#footer .text {
    width: 330px;
}
#footer .text p {
    margin: 22px 0 0;
    line-height: 23px;
}
#footer .cols {
    width: 62.3%;
}
#footer .cols .col:last-child {
    width: 18%;
}
#footer .cols .col {
    width: 37.4%;
}

#footer .cols strong {
    color: #222;
    font-size: 18px;
    margin: -5px 0 29px;
    display: block;
}

#footer .cols ul li {
    margin: 0 0 30px;
}
#footer .top {
    margin: 0 0 12px;
}
#footer .bottom {
    color:#6F7487;
    border-top: 1px solid rgb(111 116 135 / 20%);
    padding: 38px 0;
}
#footer .bottom p{
    margin:0;
}
#footer .bottom ul li {
    margin-left: 32px;
}
#footer .socials {
    gap: 27px;
    margin: 30px 0 0;
}
#footer .socials li {
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .socials li svg:hover path {
    fill: #02174C;
}

@media(max-width:767px){
    #footer {
        padding: 40px 0 0;
    }
    #footer .bottom {
        padding: 23px 0;
        flex-direction: column;
        text-align: center;
    }
    #footer .bottom ul {
        margin: 13px 0 0 !important;
        text-align: center;
        justify-content: center;
    }
    #footer .bottom ul li {
        margin: 0 13px;
    }
    #footer .cols strong {
        font-size: 17px;
        margin: 0 0 16px;
    }
    .promo .twocols .holder h3 {
        margin: 0 0 14px;
    }
}

@media(max-width:480px){
    #footer .cols .col{
        width:100%;
    }
}